* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}
.App {
  display: flex;
  height: auto;
  background: #fdfafa;
}
img {
  width: 100%;
  object-fit: contain;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 2.1;
  color: #c3c3c3;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: #005abb;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.sideBar {
  width: 150px;
  height: 100vh;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  text-align: start;
  flex-direction: column;
  border-right: 1px solid lightgrey;
  position: relative;
}


.Nav-header{
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 0 10px 20px; 
  color: #064180;
}

.MainContent {
  flex: 1;
}
space {
  flex: 1;
  display: flex;
  flex-direction: column;
}
